* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(christmas-background-empty-space-text-fir-tree-lights-cozy-atmosphere-holiday-background_1144595-9655.avif);
  background-size: cover;
  background-repeat: no-repeat;
}
.boxes {
  width: 397px;
  height: 503px;
  backdrop-filter: blur(1px);
  border: 0px solid #b9663b;
  position: absolute;
  left: 38%;
  bottom: 60px;
  border-radius: 5%;
  box-shadow: inset 0px 0px 20px 10px #bc6d44;
  z-index: 2;
}

h1 {
  color: #ffffff;
  position: absolute;
  left: 54px;
  font-size: 33px;
  font-weight: 500;
  top: 10px;
}

i {
  /* background-image: url(Christmas-tree.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
  position: absolute;
  left: 300px;
  font-size: 21px;
  color: aquamarine;
  top: 24px;
  width: 30px;
  height: 50px;
  /* border-top-left-radius: 25%; */
  /* border-top-right-radius: 25%; */
}

#star {
  position: absolute;
  left: 307px;
  font-size: 10px;
  color: rgb(255, 255, 0);
  top: 13px;
}

#small {
  position: absolute;
  left: 307px;
  font-size: 4px;
  color: rgb(247, 247, 8);
  top: 33px;
}

#large {
  position: absolute;
  left: 313px;
  font-size: 4px;
  color: rgb(247, 247, 8);
  top: 37px;
}

#top {
  position: absolute;
  left: 311px;
  font-size: 4px;
  color: rgb(247, 247, 8);
  top: 26px;
}

p {
  color: #ffffff;
  position: absolute;
  left: 85px;
  font-size: 14px;
  font-weight: 100;
  top: 52px;
}

.move {
  position: relative;
  left: 3px;
  top: 6px;
}

.toptriangle {
  /* background-color: #67ff20; */
  position: absolute;
  top: 118px;
  left: 135px;
  width: 0px;
  height: 0px;
  border-left: 61px solid transparent;
  border-right: 61px solid transparent;
  border-bottom: 61px solid rgb(98, 255, 0);
  z-index: 3;
}

.centretriangle {
  /* color: #6bff42; */
  position: absolute;
  top: 160px;
  left: 134px;
  width: 0px;
  height: 0px;
  border-left: 63px solid transparent;
  border-right: 63px solid transparent;
  border-bottom: 63px solid rgb(57, 200, 0);
  z-index: 2;
}

.lowertriangle {
  position: absolute;
  top: 204px;
  left: 134px;
  width: 0px;
  height: 0px;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 64px solid rgb(38, 189, 0);
  z-index: 1;
}

#treestar {
  position: absolute;
  left: 188px;
  font-size: 13px;
  color: rgb(247, 247, 8);
  top: 105px;
}

.wood {
  background-color:#714040;
  width: 22px;
  height: 30px;
  position: absolute;
  left: 186px;
  top: 268px;
  border: 1px solid #b76262;
}

.yellowbox {
  width: 143px;
  height: 100px;
  position: absolute;
  left: 32px;
  top: 387px;
  border-top: 1px solid #000000;
  background-color: #ecec35;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 1;
}

.topbox {
  width: 159px;
  height: 40px;
  position: absolute;
  left: 21px;
  top: 346px;
  transition: 1.2s;
  background-color: #ffff00;
  border: 2px solid #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.firstbox:hover {
  .hide {
    visibility: visible;

    transition: 2s;
    transform: translateY(-130px);
  }

  .topbox {
    transform: rotate(-10deg) translateY(-8px) rotateX(180deg)
      translateY(-110px) translateX(-10px);
    transition: 2s;
  }
}

.hide {
  position: absolute;
  left: 90px;
  bottom: 50px;
  visibility: hidden;
  transition: 2s;
}

.yellowboxright {
  width: 143px;
  height: 100px;
  position: absolute;
  left: 221px;
  top: 387px;
  border-top: 1px solid #000000;
  background-color: #ecec35;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 1;
}

.topboxright {
  width: 159px;
  height: 40px;
  position: absolute;
  left: 211px;
  top: 346px;
  background-color: #ffff00;
  border: 2px solid #000000;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: 1.2s;
}

.hideleft {
  position: absolute;
  left: 280px;
  bottom: 50px;
  visibility: hidden;
  transition: 2s;
}

.secondbox:hover  {
  .hideleft {
    visibility: visible;
    transition: 2s;
    transform: translateY(-130px);
  }

  .topboxright {
    transition: 2s;
    transform: rotate(-10deg) translateY(-8px) rotateX(180deg)
      translateY(-110px) translateX(-10px);
  }
}

.img1 {
  background-image: url(winter-wonderland-flowers.webp);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 30px;
  height: 25px;
  margin: 30px;
  position: absolute;
  left: -31px;
  bottom: 20px;
}

.img2 {
  background-image: url(Untitled-1_3.webp);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 30px;
  height: 25px;
  margin: 30px;
  position: absolute;
  left: 18px;
  bottom: -6px;
}

.img3 {
  background-image: url(luxe-indulgence-tree.webp);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 30px;
  height: 30px;
  margin: 30px;
  position: absolute;
  left: -56px;
  bottom: -36px;
}

.img4 {
  background-image: url(Homemade+gift+ideas+for+everyone.webp);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  width: 30px;
  height: 30px;
  margin: 30px;
  position: absolute;
  left: -10px;
  bottom: -69px;
}

.divs {
    display: grid;
    grid-template-columns: repeat(15, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 5px;
    justify-items: center;
    animation: fluow 2s infinite;
}

@keyframes flow {
    0%, 100% {
       transform: translateY(50px) ;
    }
    50% {
        transform: translateY(0px);
    }
}
.divs .box {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    animation: twinkle 2s infinite;
    /* box-shadow: 20px 20px 50px rgb(0, 0, 0); */
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
        background-color: rgb(255, 255, 255);
    }
    50% {
        opacity: 0.7;
        transform: scale(0.5);
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 20px 10px rgb(255, 255, 255);
        
    }

}
